.cabecalho {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	background-color: #1f45fa;
	letter-spacing: 0.23em; 
}

.textoCabecalho{
	display: inline-block;
	margin: 10px;
	font-weight: bold;
	font-size: 15px;
}

.textoCabecalho a{
	padding: 0.50em 0.35em ;  
}

.imgLogoCabecalho {
    height: 200;
}


@media (min-width:  640px){
	.cabecalho {
	padding: 0 5 %;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.6rem;
	}

	.textoCabecalho{
		margin: 5px;
	}

	.imgLogoCabecalho{
		margin: 5px;
	}

	.imgLogoCabecalho{
		width: calc((100% - 960px)/2);
	}
}

@media (min-width:  1200px){
	.cabecalho{
		padding-left: calc((100% - 960px)/2);
		padding-right: calc((100% - 960px)/2);
	}
}
