p, ul, h2{
	text-align: justify;
	font-size: 1.2em;
}

ul{
	list-style: disc inside;
	margin: 0.4em;
}

h2{
	text-transform: uppercase;
	margin-top: 0.9em;
	margin-bottom: 0.4em;
	font-weight: bold;
}

footer{
	border-top: solid;
	border-width: 2px;
}

.sobreMim {
	margin-top: 180px;
	margin-left: 1%;
	margin-right: 1%;
}

.sobreContato{
	display: flex;
	justify-content: space-evenly;
}

.sobreProfissoesLinguagensConhecidasImagens{
	display: flex;
	justify-content: space-evenly;
}

.sobreContatoLinkedin{
	margin-top: 40px;
	margin-bottom: 40px;
}

.sobreContatoTelefone, .sobreContatoEndereco{
	margin-top: 40px;
	margin-bottom: 40px;
	border-style: solid;
	border-width: 2px;
}

.sobreMimTituloNome{
	font-size: 2em;
	text-align: center;
	justify-content: space-between;
	margin: 2px;
	margin-bottom: 6px;
	font-weight: bold;
	border-bottom: 2px;
}



@media (max-width:  640px){
	.sobreMim {
	margin-top: 270px;
	}
}

@media (max-width:  400px){
	.sobreMim {
	margin-top: 310px;
	}
}
